{%  extends 'accounts/main.html' %}
{% load static %}

{% block content %}
    <div class="row">
        <div class="col-md-8 col-sm-12">
            <div class="card card-body">
                
                <form action="" method="POST">
                    {% csrf_token %}
                    {{ formset.management_form }}
                   
                    {% for form in form %}
                        {{form}}
                        <hr>
                    {% endfor %}

                    <input type="submit" name="Order"> 
                </form>
            </div>
        </div>
    </div>


{% endblock %}