


{% load static %}
<style>
  .hello-msg{
    font-size: 18px;
    color: #fff;
    margin-right: 20px;
    text-decoration: none;
  }
  .hello-msg:hover { color: blue; font-weight: bold; }
</style>
<!--Navbar-->
<nav class="navbar sticky-top navbar-expand-lg navbar-dark danger-color">
  <!-- Navbar brand -->
  <div class="container">
  <a class="navbar-brand" href="{% url 'home' %}">
    <img src="{% static 'images/logo.png' %}" height="30" class="d-inline-block align-top"
      alt="crypto news">
  </a>
  <!-- Collapse button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
    aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- Collapsible content -->
  <div class="collapse navbar-collapse" id="basicExampleNav">
    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      {% if request.user.is_staff %}
      <li 
        {% if 'home' in request.path %}
          class="nav-item active mr-3"
        {% else %}
         class="nav-item  mr-3"
        {% endif %}>
        <a class="nav-link" href="{% url 'home' %}">Dashboard</a>
      </li>
      <li 
      {% if 'products' in request.path %}
        class="nav-item active mr-3"
      {% else %}
          class="nav-item  mr-3"
      {% endif %}>
      <a class="nav-link" href="{% url 'products' %}">Product</a>
      </li>
      <li 
      {% if 'orders_pannel' in request.path %}
        class="nav-item active mr-3"
      {% else %}
          class="nav-item  mr-3"
      {% endif %}>
      <a class="nav-link" href="{% url 'orders_pannel' %}">Orders</a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'account' %}">Settings</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'productsC' %}">Products</a>
      </li>
      {% endif %}
      
    
    </ul>
    <span class="hello-msg">Hello, {{request.user}}</span>
    <span ><a  class="hello-msg" href="{% url 'logout' %}">Logout</a></span> 
  </div>
  <!-- Collapsible content -->


</div>
</nav>
<!--/.Navbar-->
